.body{
    overflow: hidden;
    background-color: rgb(255, 255,255)
}
.dit-logo{
    margin-left: 9%;
    margin-top: 4%;
    display: flex;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a{
    text-decoration: none;
    color: rgb(95,101,110);
}

.navmenu{
    display: flex;
    width: 50%;
    font-size: larger;
    margin-top: 3%;
    margin-left: 20%;
}
.buttons{
    margin-right: 20%;
    display: flex;
    margin-top: 6%;

}

